# Caddyfile
localhost { 
    tls internal
    root * /home/frontend/
    rewrite /login* /
    reverse_proxy frontend:8080 {
        header_up Host "localhost"
        header_up X-Real-IP {remote}
        header_up X-Forwarded-Host "localhost"
        header_up X-Forwarded-Server "localhost"
        header_up X-Forwarded-Port {port}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }
    reverse_proxy /api* backend:5000 {
        to backend:5000
        header_up Host {http.request.host}
        header_up X-Real-IP {http.request.remote}
        header_up X-Forwarded-For {http.request.remote}
        header_up X-Forwarded-Port {http.request.port}
        header_up X-Forwarded-Proto {http.request.scheme}
    }
      
    encode zstd gzip
	templates
	#file_server browse
}
# auto_https disable_redirects